.cardheader {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.innerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  gap: 7px;
  padding-left: 5px;
  padding-right: 10px;
  justify-content: space-between;
  overflow: scroll;
  padding-top: 40px;
}
